{% extends 'base.html' %}
{% block title %}My Reviews - StyleVerse{% endblock %}
{% load humanize%}

{% block content %}
<h2>My Reviews</h2>

{% if reviews %}
  <ul class="review-list">
    {% for review in reviews %}
      <li>
        <a href="{% url 'shop:product_detail' review.product.id %}">{{ review.product.name }}</a><br>
        Rating: {{ review.rating }}<br>
        {{ review.comment }}<br>
        <small>Posted on {{ review.created_at|naturaltime }}</small>
      </li>
    {% endfor %}
  </ul>
{% else %}
  <p>You haven’t submitted any reviews yet.</p>
{% endif %}
{% endblock %}